body {
    margin: 0;
    overflow: hidden;
}

#gameCanvas {
    display: block;
}

#toggleNotesButton, #showLabelsButton, #toggleKeysButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}


#showLabelsButton {
    right: 200px; 
}
#toggleKeysButton {
    right: 420px; 
}

/* تنظیم فاصله بین دکمه‌ها برای حالت غیر موبایلی */
@media (min-width: 768px) {
    #toggleNotesButton, #showLabelsButton, #toggleKeysButton {
        padding: 20px;
        margin: 10px;
        font-size: 24px;
    }
}


button {
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}















