body {
    margin: 0;
    overflow: hidden;
}

#gameCanvas {
    display: block;
}

#toggleNotesButton, #showLabelsButton, #toggleKeysButton {
    position: absolute;
    bottom: 10px;
    z-index: 1;
    padding: 10px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

#toggleNotesButton {
    right: 10px;
}

#showLabelsButton {
    right: 220px;
}

#toggleKeysButton {
    right: 430px;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
    #toggleNotesButton, #showLabelsButton, #toggleKeysButton {
        font-size: 36px;
        bottom: 20px;
    }

    #toggleNotesButton {
        right: 10px;
    }

    #showLabelsButton {
        right: 260px;
    }

    #toggleKeysButton {
        right: 510px;
    }
}
